@import "./bootstrap.scss";

.logo {
  font-family: "ABeeZee", sans-serif;
}

.divider {
  background-color: #091747;
  height: 2px;
  opacity: 0.2;
}

.custom-dark-btn {
  &:hover,
  &:active,
  &:focus {
    background-color: darken(#e9e9e9, 10%) !important;
    color: $dark !important;
  }
}

.authentication-form {
  max-width: 420px;
}

.dashboard-nav-link:hover {
  background-color: lighten(#e9e9e9, 20%);
}

.custom-link:hover {
  color: $dark;
}

.notification-num {
  background-color: #cc3300;
  color: white;
}

.nav-link.active {
  font-weight: bold;
  border-bottom: 2px solid black !important;
}

@media screen and (max-width: 640px) {
  .lg-disappear {
    display: none !important;
  }
}

.custom-bg {
  background-color: darken(#e9e9e9, 10%);
}

.custom-h-shadow {
  box-shadow: 5px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
